services:
  caddy:
    build: .
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    secrets:
      - caddy_email
      - caddy_domain
      - caddy_ddns_token
      - crowdsec_api_key
      - appsec_url
    configs:
      - source: caddyfile
        target: /etc/caddy/Caddyfile
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - caddy_logs:/var/log/caddy
    networks:
      crowdsec:
      proxy-net:
    security_opt:
      - no-new-privileges:true

  crowdsec:
    image: docker.io/crowdsecurity/crowdsec:v1.7.4
    container_name: crowdsec
    environment:
      - GID=1000
      - COLLECTIONS=crowdsecurity/caddy crowdsecurity/http-cve crowdsecurity/whitelist-good-actors
    secrets:
      - bouncer_key_caddy
    configs:
      - source: crowdsec_acquis
        target: /etc/crowdsec/acquis.yaml
    volumes:
      - crowdsec-db:/var/lib/crowdsec/data/
      - caddy_logs:/var/log/caddy:ro
    networks:
      crowdsec:
    restart: unless-stopped
    security_opt:
     - no-new-privileges:true

volumes:
  crowdsec-db:
  caddy_logs:
  caddy_data:
  caddy_config:

networks:
  crowdsec:
    driver: bridge
  proxy-net:
    driver: bridge
    name: proxy-net

secrets:
  caddy_email:
    external: true
  caddy_domain:
    external: true
  caddy_ddns_token:
    external: true
  crowdsec_api_key:
    external: true
  appsec_url:
    external: true
  bouncer_key_caddy:
    external: true

configs:
  caddyfile:
    external: true
  crowdsec_acquis:
    external: true

