services:
  caddy:
    image: caddy-custom:latest
    cap_add:
      - NET_ADMIN
    secrets:
      - caddy_email
      - caddy_domain
      - caddy_ddns_token
      - crowdsec_api_key
    configs:
      - source: caddyfile
        target: /etc/caddy/Caddyfile
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - caddy_logs:/var/log/caddy
    networks:
      crowdsec:
      proxy-net:
    security_opt:
      - no-new-privileges:true
    deploy:
      restart_policy:
        condition: any

  crowdsec:
    image: docker.io/crowdsecurity/crowdsec:v1.7.4
    environment:
      - GID=1000
      - COLLECTIONS=crowdsecurity/caddy crowdsecurity/http-cve crowdsecurity/whitelist-good-actors
    secrets:
      - bouncer_key_caddy
    configs:
      - source: crowdsec_acquis
        target: /etc/crowdsec/acquis.yaml
    volumes:
      - crowdsec-db:/var/lib/crowdsec/data/
      - caddy_logs:/var/log/caddy:ro
    networks:
      crowdsec:
    security_opt:
     - no-new-privileges:true
    deploy:
      restart_policy:
        condition: any

volumes:
  crowdsec-db:
    name: crowdsec-db
  caddy_logs:
    name: caddy_logs
  caddy_data:
    name: caddy_data
  caddy_config:
    name: caddy_config

networks:
  crowdsec:
  proxy-net:
    external: true

secrets:
  caddy_email:
    external: true
  caddy_domain:
    external: true
  caddy_ddns_token:
    external: true
  crowdsec_api_key:
    external: true
  bouncer_key_caddy:
    external: true

configs:
  caddyfile:
    external: true
  crowdsec_acquis:
    external: true

