services:
  redbot:
    image: phasecorex/red-discordbot
    volumes:
      - redbot-data:/data
      - /media/sambashare/music/localtracks/:/media/music/localtracks
    secrets:
      - discord_token
    environment:
      PREFIX: "!"
      TZ: CET
      PUID: 1000
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        export TOKEN=$$(cat /run/secrets/discord_token)
        exec /bin/user-entrypoint /app/start-redbot.sh
    deploy:
      restart_policy:
        condition: any

volumes:
  redbot-data:
    name: redbot-data

secrets:
  discord_token:
    external: true