services:
  duckdns:
    image: lscr.io/linuxserver/duckdns:version-72c8259f
    container_name: duckdns
    network_mode: host #optional
    environment:
      # PUID: 1000 #optional
      # PGID: 1000 #optional
      TZ: CET #optional
      SUBDOMAINS: ${SUBDOMAINS}
      TOKEN: ${TOKEN}
      UPDATE_IP: ipv4 #optional
      LOG_FILE: false #optional
      # volumes:
      # - /path/to/duckdns/config:/config #optional
    restart: unless-stopped
