services:
  duckdns:
    image: lscr.io/linuxserver/duckdns:version-72c8259f
    network_mode: host
    secrets:
      - duckdns_subdomains
      - duckdns_token
    environment:
      TZ: CET
      FILE__SUBDOMAINS: /run/secrets/duckdns_subdomains
      FILE__TOKEN: /run/secrets/duckdns_token
      UPDATE_IP: ipv4
      LOG_FILE: "false"
    deploy:
      restart_policy:
        condition: any

secrets:
  duckdns_subdomains:
    external: true
  duckdns_token:
    external: true
