{
	email {$CADDY_EMAIL}
	crowdsec {
		api_url http://crowdsec:8080
		api_key {$CROWDSEC_API_KEY}
		ticker_interval 15s
		#appsec_url {$APPSEC_URL}
		#disable_streaming
		#enable_hard_fails
	}
	log {
		output file /var/log/caddy/access.log {
			roll_size 100mb
			roll_keep 5
		}
		format json
	}
}
*.{$CADDY_DOMAIN}, {$CADDY_DOMAIN} {
	tls {
		dns duckdns {$CADDY_DDNS_TOKEN}
	}
	@vpn host vpn.{$CADDY_DOMAIN}
	route @vpn {
		crowdsec
		reverse_proxy 192.168.0.129:51820
	}
	@wg-easy host wg-easy.{$CADDY_DOMAIN}
	route @wg-easy {
		crowdsec
		reverse_proxy 192.168.0.129:51821
	}
	@mealie host mealie.{$CADDY_DOMAIN}
	route @mealie {
		crowdsec
		reverse_proxy mealie:9000
	}
	@qb host qb.{$CADDY_DOMAIN}
	route @qb {
		crowdsec
		reverse_proxy gluetun_mullvad:6011
	}

	@prowlarr host prowlarr.{$CADDY_DOMAIN}
	route @prowlarr {
		crowdsec
		reverse_proxy gluetun_mullvad:9696
	}
	@jellyfin host jellyfin.{$CADDY_DOMAIN}
	route @jellyfin {
		crowdsec
		reverse_proxy 192.168.0.129:8096
	}
	@pihole host pihole.{$CADDY_DOMAIN}
	route @pihole {
		crowdsec
		reverse_proxy 192.168.0.129:5353
	}
	@search host search.{$CADDY_DOMAIN}
	route @search {
		crowdsec
		reverse_proxy searxng:8080
	}
	@vaultwarden host vaultwarden.{$CADDY_DOMAIN}
	route @vaultwarden {
		crowdsec
		reverse_proxy vaultwarden:80
	}
	@authentik host authentik.{$CADDY_DOMAIN}
	route @authentik {
		crowdsec
		reverse_proxy authentik-server:9000
	}
	@copyparty host copyparty.{$CADDY_DOMAIN}
	route @copyparty {
		crowdsec
		reverse_proxy copyparty:3923
	}
	@uptime host uptime.{$CADDY_DOMAIN}
	route @uptime {
		crowdsec
		reverse_proxy uptime-kuma:3001
	}
	@technitium host technitium.{$CADDY_DOMAIN}
	route @technitium {
		crowdsec
		reverse_proxy dns-server:5380
	}
	@tasks host tasks.{$CADDY_DOMAIN}
	route @tasks {
		crowdsec
		reverse_proxy tasks-md:8080
	}
}
