{
	email {$EMAIL}
	crowdsec {
		api_url http://crowdsec:8080
		api_key {$CROWDSEC_API_KEY}
		ticker_interval 15s
		#appsec_url {$APPSEC_URL}
		#disable_streaming
		#enable_hard_fails
	}
}
*.{$DOMAIN}, {$DOMAIN} {
	tls {
		dns duckdns {$DDNS_TOKEN}
	}
	@vpn host vpn.{$DOMAIN}
	route @vpn {
		crowdsec
		reverse_proxy 192.168.0.129:51820
	}
	@wg-easy host wg-easy.{$DOMAIN}
	route @wg-easy {
		crowdsec
		reverse_proxy 192.168.0.129:51821
	}
	@mealie host mealie.{$DOMAIN}
	route @mealie {
		crowdsec
		reverse_proxy mealie:9000
	}
	@qb host qb.{$DOMAIN}
	route @qb {
		crowdsec
		reverse_proxy 192.168.0.129:6011
	}

	@prowlarr host prowlarr.{$DOMAIN}
	route @prowlarr {
		crowdsec
		reverse_proxy 192.168.0.129:9696
	}
	@jellyfin host jellyfin.{$DOMAIN}
	route @jellyfin {
		crowdsec
		reverse_proxy 192.168.0.129:8096
	}
	@pihole host pihole.{$DOMAIN}
	route @pihole {
		crowdsec
		reverse_proxy 192.168.0.129:5353
	}
	@search host search.{$DOMAIN}
	route @search {
		crowdsec
		reverse_proxy searxng:8080
	}
	@vaultwarden host vaultwarden.{$DOMAIN}
	route @vaultwarden {
		crowdsec
		reverse_proxy vaultwarden:80
	}
	@authentik host authentik.{$DOMAIN}
	route @authentik {
		crowdsec
		reverse_proxy authentik-server:9000
	}
	@copyparty host copyparty.{$DOMAIN}
	route @copyparty {
		crowdsec
		reverse_proxy copyparty:3923
	}
	@uptime host uptime.{$DOMAIN}
	route @uptime {
		crowdsec
		reverse_proxy uptime-kuma:3001
	}
	@technitium host technitium.{$DOMAIN}
	route @technitium {
		crowdsec
		reverse_proxy dns-server:5380
	}
	@tasks host tasks.{$DOMAIN}
	route @tasks {
		crowdsec
		reverse_proxy tasks.md:8080
	}
}
