networks:
  proxy-net:
    external: true

services:
  vaultwarden:
    image: vaultwarden/server:1.35.1
    container_name: vaultwarden
    restart: always
    networks:
      proxy-net:
    secrets:
      - vaultwarden_domain
      - vaultwarden_admin_token
    environment:
      DOMAIN_FILE: /run/secrets/vaultwarden_domain
      ADMIN_TOKEN_FILE: /run/secrets/vaultwarden_admin_token
      SIGNUPS_ALLOWED: "true"
    volumes:
      - vaultwarden-data:/data
    ports:
      - 11001:80

volumes:
  vaultwarden-data:

secrets:
  vaultwarden_domain:
    external: true
  vaultwarden_admin_token:
    external: true
