networks:
  wg-easy:
    external: true
  proxy-net:
    external: true

services:
  dns-server:
    hostname: dns-server
    image: technitium/dns-server:14.2.0
    ports:
      - "5380:5380/tcp"
      - "53:53/udp"
      - "53:53/tcp"
    environment:
      DNS_SERVER_DOMAIN: dns-server
    volumes:
      - technitium-config:/etc/dns
    restart: unless-stopped
    sysctls:
      - net.ipv4.ip_local_port_range=1024 65535
    networks:
      wg-easy:
        ipv4_address: 10.8.1.3
      proxy-net:

volumes:
  technitium-config:
