networks:
  proxy-net:
    external: true

services:
  dns-server:
    hostname: dns-server
    image: technitium/dns-server:14.2.0
    ports:
      - "5380:5380/tcp"
      - "53:53/udp"
      - "53:53/tcp"
    environment:
      DNS_SERVER_DOMAIN: dns-server
    volumes:
      - technitium-config:/etc/dns
    networks:
      - proxy-net
    deploy:
      restart_policy:
        condition: any

volumes:
  technitium-config:
    name: technitium-config
