[Unit]
Description=CoreDNS
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/coredns/coredns:1.11.3
ContainerName=coredns
AutoUpdate=registry

Exec=/coredns -conf /etc/coredns/Corefile
Exec=-conf /etc/coredns/Corefile

Network=podman-dns.network
IP=10.89.0.2

PublishPort=192.168.0.129:53:53/tcp
PublishPort=192.168.0.129:53:53/udp

Volume=/etc/coredns/Corefile:/etc/coredns/Corefile:ro
Volume=/etc/coredns/zones:/etc/coredns/zones:ro

# Optional persistent writable state dir if you later add plugins that need storage
# Volume=coredns-data.volume:/var/lib/coredns

NoNewPrivileges=true
Sysctl=net.ipv4.ip_unprivileged_port_start=53

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
