networks:
  proxy-net:
    external: true

services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    networks:
      proxy-net:
    restart: unless-stopped
    volumes:
      - uptime-kuma-data:/app/data
    ports:
      - "3001:3001"

volumes:
  uptime-kuma-data:
