networks:
  proxy-net:
    external: true

services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    networks:
      proxy-net:
    volumes:
      - uptime-kuma-data:/app/data
    deploy:
      restart_policy:
        condition: any

volumes:
  uptime-kuma-data:
    name: uptime-kuma-data
