networks:
  proxy-net:
    external: true
services:
  uptime-kuma:
    networks:
      proxy-net:
    image: louislam/uptime-kuma:2
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    ports:
      # <Host Port>:<Container Port>
      - "3001:3001"
