networks:
  searxng:
  proxy-net:
    external: true

services:
  valkey:
    image: docker.io/valkey/valkey:8-alpine
    command: valkey-server --save 30 1 --loglevel warning
    networks:
      - proxy-net
    volumes:
      - valkey-data:/data
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    deploy:
      restart_policy:
        condition: any

  searxng:
    image: docker.io/searxng/searxng:2026.1.2-3d88876a3
    networks:
      - searxng
      - proxy-net
    ports:
      - "8080:8080"
    configs:
      - source: searxng_settings
        target: /etc/searxng/settings.yml
      - source: searxng_uwsgi
        target: /etc/searxng/uwsgi.ini
    secrets:
      - searxng_secret_key
    environment:
      SEARXNG_SECRET_FILE: /run/secrets/searxng_secret_key
      UWSGI_WORKERS: 4
      UWSGI_THREADS: 4
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    deploy:
      restart_policy:
        condition: any

volumes:
  valkey-data:
    name: valkey-data

configs:
  searxng_settings:
    external: true
  searxng_uwsgi:
    external: true

secrets:
  searxng_secret_key:
    external: true
